html{
    scroll-behavior: smooth;
}
#bckimg{
    background-image: url('https://wpmisc.com/sites/default/files/wallpaper/abstract/66053/dark-tech-hd-wallpapers-66053-4605847.png');
    background-size: cover;
    background-repeat: no-repeat; 
}
#logo{
     display: flex;
     align-items: center;
     float: left;
     font-family: 'Mountains of Christmas', cursive;
     font-size: 30px;
     color: white;
}
nav{
   max-width: 100%;
   padding:20px;
   margin-right: 0%;
}
nav>ul{
      text-align: right;
}
nav>ul>li{
         display: inline-block;
         border-right: 1px dotted black;
         justify-content: space-around;
         font-size: 18px;
}
nav>ul>li>a{
        text-decoration: none;
        color: #f2a2e4;
        padding: 18px;
        margin-right: 0;
}
nav>ul>li:last-child{
        border: none;
}
nav>ul>li> a:hover{
        box-shadow: 0 0 2px #525252;
        color: white;
        text-transform: uppercase;
}
 img{
   border-radius: 2%;
   height: 200px;
   width: 200px;
}      
#home{
    /* display: flex;
    justify-content: center;
    align-items: center; */
     color: white;
     height: 550px;
     width: 90%;
}
p#hm{
    margin-left: 20px;
    font-size: 26px;
    color: white;
    font-family: 'Cinzel', serif;
    text-align: center;
}
#Projects{
        background-color: white;
        color:black;
        margin-right: 100px;
        margin-left: 100px;
}